
ProgKorny_WPF/ProgKorny_WPF/Properties/Settings.settings

ProgKorny_WPF/ProgKorny_WPF/Properties/Settings.Designer.cs

ProgKorny_WPF/.vs/ProgKorny_WPF/v16/.suo

ProgKorny_WPF/.vs/ProgKorny_WPF/v16/Server/sqlite3/db.lock

ProgKorny_WPF/.vs/ProgKorny_WPF/v16/Server/sqlite3/storage.ide

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/App.g.i.cs

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/MainWindow.g.i.cs

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/ProgKorny_WPF.csprojAssemblyReference.cache

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/ProgKorny_WPF_Content.g.i.cs

ProgKorny_WPF/ProgKorny_WPF/obj/Debug/ProgKorny_WPF_MarkupCompile.i.cache

ProgKorny_WPF/ProgKorny_WPF/ProgKorny_WPF.csproj

ProgKorny_WPF/ProgKorny_WPF/Properties/AssemblyInfo.cs

ProgKorny_WPF/ProgKorny_WPF/Properties/Resources.Designer.cs
